@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --black-gradient: linear-gradient(
    144.39deg,
    #59bf7c -178.56%,
    #2faf57 -28.47%,
    #097235 0.61%,
    #59bf7c 91.61%
  );
  --card-shadow: linear-gradient(
    278.56deg,
    #b7e2c5 -278.56%,
    #88d1a1 -78.47%,
    #32be32 -90.05%,
    #59bf7c 91.61%
  );
}
* {
  scroll-behavior: smooth;
}

.text-gradient {
  background: radial-gradient(
    64.18% 64.18% at 71.16% 35.69%,
    #000000 70.89%,
    #00000f 17.23%,
    #00004f 42.04%,
    #79da79 55.12%,
    #56cc56 71.54%,
    #32be32 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.bg-blue-gradient {
  background: linear-gradient(
    157.81deg,
    #e8f5ea -43.27%,
    #b7e2c5 -21.24%,
    #88d1a1 12.19%,
    #59bf7c 29.82%,
    #2faf57 51.94%,
    #097235 90.29%
  );
}

.bg-black-gradient {
  background: linear-gradient(
    144.39deg,
    #b7e2c5 -278.56%,
    #88d1a1 -78.47%,
    #59bf7c 91.61%
  );
}

.bg-black-gradient-2 {
  background: linear-gradient(
    -168.39deg,
    #ffffff -278.56%,
    #6d6d6d -78.47%,
    #11101d 91.61%
  );
}

.bg-gray-gradient {
  background: linear-gradient(
    153.47deg,
    rgba(255, 255, 255, 0) -341.94%,
    #14101d 95.11%
  );
}

.bg-discount-gradient {
  background: linear-gradient(125.17deg, #272727 0%, #11101d 100%);
}

.box-shadow {
  box-shadow: 0px 20px 100px -10px rgba(66, 71, 91, 0.1);
}

.sidebar {
  -webkit-animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

.feature-card:hover {
  background: var(--black-gradient);
  box-shadow: var(--card-shadow);
}

.feature-card span:hover {
  color: white !important;
  transition: all 0.2s ease-in-out;
}

.feedback-container .feedback-card:last-child {
  margin-right: 0px;
}

.feedback-card {
  background: transparent;
}

.feedback-card:hover {
  background: var(--black-gradient);
}

.blue__gradient {
  background: linear-gradient(180deg, #59bf7c 100%, #097235 100%);
  filter: blur(300px);
}

.blue2__gradient {
  background: linear-gradient(90deg, #59bf7c 10%, #097235 50%);
  filter: blur(200px);
}

.pink__gradient {
  background: linear-gradient(90deg, #097235 5%, #59bf7c 100%);
  filter: blur(300px);
}

.white__gradient {
  background: rgba(0, 0, 0, 0.6);
  filter: blur(300px);
}

.popup-container {
  position: relative;
  width: 90%;
  max-width: 80%;
  height: 90vh;
  background: black;
  border-radius: 1rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.popup-content {
  flex-grow: 1;
  overflow-y: auto;
  padding: 1rem;
}

.aspect-w-16.aspect-h-9 {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%; /* 16:9 Aspect Ratio */
}

.aspect-w-16.aspect-h-9 iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
